# Dependencies
node_modules

# Build outputs
.nuxt
.nitro
cache
.output
dist

# Testing
test-results
playwright-report
playwright/.cache
coverage

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
.temp
